
/* Mobile first */
/* for smartphone screens portrait mode */

#board, #finish {
  display:none;
}

#playerNames{
  display: block;
  margin: 1em auto;
  font-size: 4vw;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 40%;
  transform: translate(-50%, -50%);
}

  #start #pghO {
    display:block;
    width: 100%;
    height: 2em;
    margin: 2em auto;
  }

    #start #labelO{
      font-size: .8em;
      padding: .5em;
      background-color: #FFF;
      color: #54D17A;
      transition: 0.25s ease;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      margin: 1.2em 0;
    }

    #start #playerO  {
      text-align: center;
      font-size: .8em;
      color: #54D17A;
      padding: .6em;
      width: 80%;
      height: 1em;
      border-radius: 4px;
      margin: 1.2em 0;
    }

  #start #pghX {
    display:block;
    width: 100%;
    height: 6em;
    margin: 2em auto;
  }

  #start #labelX{
    font-size: .8em;
    padding: .5em;
    background-color: #FFF;
    color: #54D17A;
    transition: 0.25s ease;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 1.2em 0;
  }

    #playerX {
      text-align: center;
      font-size: .8em;
      color: #54D17A;
      padding: .6em;
      width: 80%;
      height: 1em;
      border-radius: 4px;
      margin: 1.2em 0;
    }

#message {
  font-size: 4em;
}

/* for most smartphones in landscape mode */
@media only screen and (min-width:560px) and (max-height:420px) and (orientation: landscape){

  #playerNames{
    font-size: 1.5vw;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    transform: translate(-50%, -50%);
   }

  #start #pghO {
    margin: .8em auto
  }

  #start #playerO {
    width: 50%;
  }

  #start #pghX {
    margin: .8em auto
  }

  #start #playerX {
    width: 50%;
  }

}

/* for tablets screens 500px to 720px */
@media only screen and (min-width:500px) and (min-height:500px) and (orientation: portrait){

  #playerNames{
    font-size: 2.5vw;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    transform: translate(-50%, -50%);
   }

  #start #pghO {
    margin: .8em auto
  }

  #start #playerO {
    width: 50%;
  }

  #start #pghX {
    margin: .8em auto
  }

  #start #playerX {
    width: 50%;
  }
}

/* for screens 717px x 512px and landscape : Galaxy Fold undolded*/
@media only screen and (width:717px) and (height:512px) and (orientation: landscape){

  #playerNames{
    font-size: 1.5vw;
    position: fixed;
    top: 55%;
    left: 50%;
    width: 80vw;
    transform: translate(-50%, -50%);
   }

  #start #pghO {
    margin: auto
  }

  #start #playerO {
    width: 50%;
  }

  #start #pghX {
    margin: auto
  }

  #start #playerX {
    width: 50%;
  }

}

/* for screens 720px x 540px and landscape : Surface Pro */
@media only screen and (min-width:720px) and (height:540px) and (orientation: landscape){

  #playerNames{
    font-size: 1.5vw;
    position: fixed;
    top: 55%;
    left: 50%;
    width: 80vw;
    transform: translate(-50%, -50%);
   }

  #start #pghO {
    margin: auto
  }

  #start #playerO {
    width: 50%;
  }

  #start #pghX {
    margin: auto
  }

  #start #playerX {
    width: 50%;
  }
}

/* for larger tablet screens least 768px x 1024px */
@media only screen and (min-width:768px) and (max-height:1024px) and (orientation: portrait){

  #playerNames {
    font-size: 3vw;
    height: 30%;
    top: 45%;
  }

  #start #pghO {
    margin: 1em auto;
  }

  #start #pghX {
    margin: 1em auto;
  }
}

/* for "Pro" tablet screens 1024px width or greater */
@media only screen and (min-width:1024px) and (min-height:1200px) {

  #playerNames {
    font-size: 3vw;
  }

  #start #pghO {
    margin: 1em auto;
  }

  #start #pghX {
    margin: 1em auto;
  }
}

/* for "Pro" tablet, laptop and desktop screens 1024px width or greater */
@media only screen and (min-width:1024px) and (orientation: landscape) {

  #playerNames {
    font-size: 2vw;
  }

  #start #pghO {
    margin: auto;
  }

  #start #pghX {
    margin: auto;
  }
}
