#board, #finish {
  display:none;
}

#playerNames{
  width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
  align-items: center;
}
#start #pghO {
  margin-left: .5em;
  display:inline;
  width: 50%;
  height: 50px;
}
    #start #labelO{
      font-size: .8em;
      padding: .5em;
      background-color: #FFF;
      color: #54D17A;
      transition: 0.25s ease;
      width: 20px;
      height: 10px;
      border-radius: 4px;
    }

    #start #playerO  {
      font-size: .8em;
      color: #54D17A;
      padding: .6em;
      width: 200px;
      height: 10px;
      border-radius: 4px;
    }

#start #pghX {
  margin-right: .5em;
  display:inline;
  width: 50%;
  height: 50px;
}

  #start #labelX{
    font-size: .8em;
    padding: .5em;
    background-color: #FFF;
    color: #54D17A;
    transition: 0.25s ease;
    width: 20px;
    height: 10px;
    border-radius: 4px;
  }

    #playerX {
      font-size: .8em;
      color: #54D17A;
      padding: .6em;
      width: 200px;
      height: 10px;
      border-radius: 4px;
    }

#message {
  font-size: 4em;
}

@media (max-width: 720px ) {

  #playerNames{
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  #start #pghO {
    margin: 0;
    display:list-item;
    width: 100%;
  }
  #start #pghX {
    margin: 0;
    display:list-item;
    width: 100%;
  }
  #start #labelO{
    font-size: .8em;
    padding: .5em;
    color: green;
    background-color: #FFF;
    width: auto;
    height: 10px:
  }
  #start #labelX{
    font-size: .8em;
    padding: .5em;
    color: green;
    background-color: #FFF;
    width: auto;
    height: 10px:
  }

  #playerX {
    width: 150px;
    height: 10px:
  }

  #playerO  {
    width: 150px;
    height: 10px:
  }
}
